body{
    text-align:center;
}
.Pokedex-cards{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: #4caf50;
    font-size: 3rem;
}

.Pokedex-loser {
    color: #e91e63;
    font-size: 3rem;
}